{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(
            window,
            document,
            "script",
            "dataLayer",
            "{{ TAG_MANAGER_CONTAINER_ID }}"
        );
    </script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <link rel="icon" href="{% static 'assets/hereforchange-favicon.png' %}"  />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBc15woji15KUqe8SxJoVpwRP4sB7Mtmk&libraries=places"
    ></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
    <script src="https://unpkg.com/libphonenumber-js@1.9.9/bundle/libphonenumber-min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Find my ward councillor</title>
    {% block meta %}
    <meta property="description"
        content="{% block description %}A public participation platform at your local level.{% endblock %}" />
    <meta name="twitter:title" content="{% block twitter_title %}Here For Change{% endblock %}" />
    <meta name="twitter:description"
        content="{% block twitter_description %}A public participation platform at your local level.{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{% block og_title %}Here for Change{% endblock %}" />
    <meta property="og:description"
        content="{% block og_description %}A public participation platform at your local level.{% endblock %}" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ TAG_MANAGER_CONTAINER_ID }}" height="0"
            width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div class="relative bg-hfc-green-900 w-full p-7 rounded-2xl shadow-xl">
        <div class="lg:max-w-[612px]">
            <div class="flex items-start mb-[22px]">
                <h1 class="fvs-200 benfritz text-white font-normal text-2xl">Find my ward councillor</h1>
                <p class="text-xs bg-[#7f00ff] text-white rounded-sm p-0.5 ml-2">BETA</p>
            </div>
            <div class="lg:absolute lg:w-[calc(100%-670px)] lg:top-0 lg:bottom-0 lg:right-0">
                <div id="map" class="relative min-h-[300px] lg:min-h-full rounded-lg lg:rounded-l-none">
                    <p
                        class="karla flex items-center absolute top-2 right-2 bg-[#353535] text-white z-[425] rounded-lg p-2  shadow-[0_3px_4px_0_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-arrows-up-down-left-right text-base mr-1"></i>
                        Tap to select your ward
                    </p>
                </div>
            </div>
            <div class="mt-[22px]">
                <div class="relative flex items-center flex-col md:flex-row">
                    <div class="flex items-center relative w-full">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                            <i class="fa-solid fa-magnifying-glass text-purple-700"></i>
                        </span>

                        <input 
                            id="address-search-input"  
                            type="text"
                            class="w-full min-h-[56px] py-3 pl-10 pr-4 text-gray-700 bg-white text-base border rounded-lg focus:border-blue-400 focus:outline-none ring-1 ring-transparent focus:ring-opacity-40 focus:ring-blue-300 hover:ring-purple-800"
                            placeholder="Type your address..." />
                    </div>
                    <div class="w-full mt-2 md:mt-0 md:w-auto md:absolute md:right-2 flex items-center">
                        <span class="hidden md:block pr-2 text-xs">OR</span>
                        <button id="embed-location-btn"
                            class="flex items-center justify-center w-full h-9  md:w-[180px] text-sm rounded-md text-white whitespace-nowrap text-center font-bold bg-[#7f00ff] transition-[background-color] duration-200 ease hover:bg-[#4b0097]">Use
                            your location
                        </button>
                        <form id="redirect-to-closest-location" action="{% url 'redirect-to-closest-ward' %}" method="get" style="display: none;">
                            <input type="number" name="longitude">
                            <input type="number" name="latitude">
                            <input type="text" name="url">
                        </form>
                    </div>
                    <!-- loader -->
                    <div id="use-location-loader"
                        class="hidden absolute rounded-md bg-hfc-green-700 h-full w-full flex items-center">
                        <i class="fa-solid fa-spinner text-white text-base animate-spin px-3"></i>
                        <p class="text-white text-sm">Finding your ward councillor</p>
                    </div>
                </div>
            </div>
            <p class="text-white text-xs opacity-60 mt-[9px]">We will never share any of your information with any third
                parties</p>
            <div class="border-white opacity-10 w-full border-t my-[21px] md:my-[31px]"></div>
            <div class="gap-y-4 flex flex-col sm:flex-row items-center justify-between">
                <div class="flex flex-col">
                    <a class="text-lg inline-block benfritz text-white lg:text-[21px] relative" href="#">
                        <span>HereForChange</span>
                        <div
                            class="w-8 h-8 lg:w-[35px] lg:h-[35px] absolute -top-[17px] -right-[22px] lg:-right-[23px] flex items-center justify-center rotate-[-17deg]">
                            <img class="w-8 h-8 lg:w-[35px] lg:h-[35px]" src="{% static 'assets/SA-flag.png' %}" />
                        </div>
                    </a>
                    <p class="text-white text-[11px] opacity-60 -mt-1">
                        A tool created by <a class="underline" href="https://openup.org.za" target="_blank" rel="noopener noreferrer">OpenUp</a> 
                    </p>
                </div>
                <div class="flex items-center gap-x-2">
                    <p class="text-white text-sm opacity-60">Share this tool:</p>
                    <a class="voteTooltip w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook text-white"></i>
                        <span class="voteTooltipText">
                           Share on Facebook
                            <span class="triangle-down"></span>
                        </span>
                    </a>
                    <a class="voteTooltip w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="https://wa.me/?text={{ request.scheme }}://{{ request.get_host }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-whatsapp text-white"></i>
                        <span class="voteTooltipText">
                            Share on Whatsapp
                             <span class="triangle-down"></span>
                        </span>
                    </a>
                    <a class="voteTooltip w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="https://twitter.com/intent/tweet?url={{ request.scheme }}://{{ request.get_host }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-twitter text-white"></i>
                        <span class="voteTooltipText">
                            Share on Twitter
                             <span class="triangle-down"></span>
                        </span>
                    </a>
                    <div id="open-embed" class="voteTooltip cursor-pointer relative h-10 px-2 bg-hfc-green-700 flex items-center justify-center rounded-lg">
                        <span class="text-white text-sm font-semibold">Embed</span>
                        <!-- Embed link card -->
                        <span class="voteTooltipText">
                            Embed this widget
                             <span class="triangle-down"></span>
                         </span>
                        <div id="embed-card" class="hidden break-all cursor-text absolute left-[-200px] sm:left-[-340px] bottom-8 bg-white text-black p-4 pt-6 z-[100] rounded-2xl w-auto md:w-[400px]">
                            &lt;iframe src="{{ request.scheme }}://{{ request.get_host }}{% url 'find_councillor' %}" frameborder="0" width="100%" height="300" allow="clipboard-write"&gt;&lt;/iframe&gt;
                            <i id="close-embed" class="fa-regular fa-circle-xmark absolute right-2 top-2 cursor-pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="redirect-to-closest-ward-form" action="{% url 'redirect-to-closest-ward' %}" method="get" style="display: none;">
        <input type="number" name="longitude">
        <input type="number" name="latitude">
        <input type="text" name="url">
    </form>
    <script>
        {% autoescape off %}
            var homeMapMunis = [];
            {% for municipality in object_list %}
                var eachMuni = {{ municipality }}
                homeMapMunis.push(eachMuni);
            {% endfor %}
        {% endautoescape %}      
      </script>
    <script src="{% static 'js/here_for_change.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/random-points-on-polygon.js' %}"></script>
</body>

</html>