{% load static %}
<div>
  <div>
    <p class="benfritz fvs-250 mb-4 text-[33.6px]">
      Municipaility contacts
    </p>
  </div>
  <div class="mt-4 items-center justify-between md:flex">
    <p class="benfritz fvs-250 text-[22.5px]">
      Parent municipality contact information
    </p>
    <div
      class="hidden h-[50px] w-[167px] cursor-pointer gap-2 rounded-md bg-neutral-200 p-4 font-medium hover:bg-neutral-300 md:flex md:items-center"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      <span class="text-sm"> Suggest an edit </span>
    </div>
  </div>
  <!-- contact row -->
  <div class="mt-6 flex flex-col md:mt-8 lg:flex-row lg:justify-between">
    <!-- mini contact card -->
    <div
      class="mb-3 flex w-full flex-wrap items-center justify-between rounded-lg bg-white p-2 shadow-btm lg:w-[344px] xl:w-[444px]"
    >
      <div class="flex items-center">
        <span class="ml-3"
          ><i class="fa-solid fa-phone-flip text-sm md:text-base"></i
        ></span>
        <span class="mx-2 rounded-lg p-2 hover:bg-neutral-100"
          >028 425 5500</span
        >
      </div>
      <div class="flex items-center">
        <i
          class="tooltip fa-solid fa-circle-exclamation mr-2 ml-2.5 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
        >
          <span class="tooltipText">
            Report a problem
            <span class="triangle-down"></span>
          </span>
        </i>
        <span
          class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-up text-green-600"></i>
          </span>
          <span> 5 </span>
        </span>
        <span
          class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was not helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-down text-red-600"></i>
          </span>
          <span> 0 </span>
        </span>
      </div>
    </div>
    <!-- mini contact card -->
    <div
      class="mb-3 flex w-full flex-wrap items-center justify-between rounded-lg bg-white p-2 shadow-btm lg:w-[344px] xl:w-[444px] lg:ml-3"
    >
      <div class="flex items-center">
        <span class="ml-3"
          ><i class="fa-solid fa-globe text-sm md:text-base"></i
        ></span>
        <span class="mx-2 rounded-lg p-2 hover:bg-neutral-100"
          >www.capeagulhas.gov.za</span
        >
      </div>
      <div class="flex items-center">
        <i
          class="tooltip fa-solid fa-circle-exclamation mr-2 ml-2.5 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
        >
          <span class="tooltipText">
            Report a problem
            <span class="triangle-down"></span>
          </span>
        </i>
        <span
          class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-up text-green-600"></i>
          </span>
          <span> 5 </span>
        </span>
        <span
          class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was not helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-down text-red-600"></i>
          </span>
          <span> 0 </span>
        </span>
      </div>
    </div>
  </div>
  <!-- contact row -->
  <div class="flex flex-col lg:flex-row lg:justify-between">
    <!-- mini contact card -->
    <div
      class="mb-3 flex w-full flex-wrap items-center justify-between rounded-lg bg-white p-2 shadow-btm lg:w-[344px] xl:w-[444px]"
    >
      <div class="flex items-center">
        <span class="ml-3"
          ><i class="fa-solid fa-envelope text-sm md:text-base"></i
        ></span>
        <span class="mx-2 break-all rounded-lg p-2 hover:bg-neutral-100"
          >pauls@capeagulhas.gov.za</span
        >
      </div>
      <div class="flex items-center">
        <i
          class="tooltip fa-solid fa-circle-exclamation mr-2 ml-2.5 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
        >
          <span class="tooltipText">
            Report a problem
            <span class="triangle-down"></span>
          </span>
        </i>
        <span
          class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-up text-green-600"></i>
          </span>
          <span> 5 </span>
        </span>
        <span
          class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was not helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-down text-red-600"></i>
          </span>
          <span> 0 </span>
        </span>
      </div>
    </div>
    <!-- mini contact card -->
    <div
      class="mb-3 flex w-full flex-wrap items-center justify-between rounded-lg bg-white p-2 shadow-btm lg:w-[344px] xl:w-[444px] lg:ml-3"
    >
      <div class="flex items-center">
        <span class="ml-3"
          ><i class="fa-brands fa-facebook text-sm md:text-base"></i
        ></span>
        <span class="mx-2 rounded-lg p-2 hover:bg-neutral-100"
          >CapeAlgulhasMuni</span
        >
      </div>
      <div class="flex items-center">
        <i
          class="tooltip fa-solid fa-circle-exclamation mr-2 ml-2.5 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
        >
          <span class="tooltipText">
            Report a problem
            <span class="triangle-down"></span>
          </span>
        </i>
        <span
          class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-up text-green-600"></i>
          </span>
          <span> 5 </span>
        </span>
        <span
          class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was not helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-down text-red-600"></i>
          </span>
          <span> 0 </span>
        </span>
      </div>
    </div>
  </div>
  <!-- contact row -->
  <div class="flex flex-col lg:flex-row">
    <!-- mini contact card -->
    <div
      class="mb-3 flex w-full flex-wrap items-center justify-between rounded-lg bg-white p-2 shadow-btm lg:w-[344px] xl:w-[444px]"
    >
      <div class="flex items-center gap-2">
        <span class="ml-3"
          ><i class="fa-brands fa-twitter text-sm md:text-base"></i
        ></span>
        <span class="mx-2 rounded-lg p-2 hover:bg-neutral-100"
          >@CapeAlgulhasMuni</span
        >
      </div>
      <div class="flex items-center">
        <i
          class="tooltip fa-solid fa-circle-exclamation mr-2 ml-2.5 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
        >
          <span class="tooltipText">
            Report a problem
            <span class="triangle-down"></span>
          </span>
        </i>
        <span
          class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-up text-green-600"></i>
          </span>
          <span> 5 </span>
        </span>
        <span
          class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was not helpful
            <span class="triangle-down"></span>
          </span>
          <span>
            <i class="fa-solid fa-thumbs-down text-red-600"></i>
          </span>
          <span> 0 </span>
        </span>
      </div>
    </div>
  </div>
  <!-- horizontal divide line -->
  <div class="my-6 w-full border-t border-gray-300 md:my-8"></div>
  <div class="mt-4 mb-8 items-center justify-between md:flex">
    <p class="benfritz fvs-250 text-[22.5px]">Municipal offices</p>
    <div
      class="hidden h-[50px] w-[167px] cursor-pointer gap-2 rounded-md bg-neutral-200 p-4 font-medium hover:bg-neutral-300 md:flex md:items-center"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      <span class="text-sm"> Suggest an edit </span>
    </div>
  </div>
  <!-- card for small map -->
  <div class="mb-3 w-full rounded-lg bg-white p-3 shadow-btm">
    <div class="mb-3 flex w-full items-center justify-between">
      <div class="flex items-center">
        <i class="fa-solid fa-location-dot"></i>
        <p class="p-2 hover:bg-neutral-200">
          1 Dirkie Uys Street, Bredasdorp, 7280
        </p>
      </div>
      <div class="flex items-center gap-2">
        <span>
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-sm text-neutral-300 hover:text-hfc-green-900 md:mr-4 md:text-base"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
        </span>
        <span
          class="voteTooltip mr-2 flex items-center gap-2 rounded-lg bg-neutral-100 p-1 hover:bg-green-100"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span
            ><i
              class="fa-solid fa-thumbs-up text-sm text-green-600 md:text-base"
            ></i
          ></span>
          <span class="">0</span>
        </span>
        <span
          class="voteTooltip flex items-center gap-2 rounded-lg bg-neutral-100 p-1 hover:bg-red-200"
        >
          <span class="voteTooltipText">
            This was helpful
            <span class="triangle-down"></span>
          </span>
          <span
            ><i
              class="fa-solid fa-thumbs-down text-sm text-red-600 md:text-base"
            ></i
          ></span>
          <span class="">8</span>
        </span>
      </div>
    </div>
    <!-- small map img -->
    <div
      class="h-[112px] w-full cursor-pointer rounded-lg border-black hover:border"
    >
      <img
        class="h-full w-full rounded-lg object-cover"
        src="{% static 'assets/small_map.png' %}"
      />
    </div>
  </div>
  <div>
    <!-- dropdown -->
    <div class="relative mt-3 inline-block w-full">
      <div>
        <button
          type="button"
          class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-neutral-300 px-4 py-3 text-sm font-medium text-black shadow-sm hover:bg-neutral-400 focus:outline-none"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <span class="inline-block text-left font-medium"
            >What is a municipal office?</span
          >
          <i class="tab-caret fa-solid fa-chevron-down text-black"></i>
        </button>
      </div>

      <div
        class="panel right-0 left-0 mt-0 w-full origin-top-right rounded-md bg-neutral-200 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-2 px-3" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <a
            href="#"
            class="block px-2 py-2 text-sm text-black"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
          >
            This spending was been flagged by auditors as having been
            unnecessary or avoidable. As a citizen, that means that this is
            money that could have been put towards things that you feel your
            community needs. By taking part in public participation processes,
            you can have your say on how this money could be better spent in the
            upcoming years.
          </a>
        </div>
      </div>
    </div>
    <!-- second dropdown -->
    <div class="relative mt-3 inline-block w-full">
      <div>
        <button
          type="button"
          class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-neutral-300 px-4 py-3 text-sm font-medium text-black shadow-sm hover:bg-neutral-400 focus:outline-none"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <span class="inline-block text-left font-medium"
            >What can i do at a municipal office?</span
          >
          <i class="tab-caret fa-solid fa-chevron-down text-black"></i>
        </button>
      </div>

      <div
        class="panel right-0 left-0 mt-0 w-full origin-top-right rounded-md bg-neutral-200 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-2 px-3" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <a
            href="#"
            class="block px-2 py-2 text-sm text-black"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
          >
            This spending was been flagged by auditors as having been
            unnecessary or avoidable. As a citizen, that means that this is
            money that could have been put towards things that you feel your
            community needs. By taking part in public participation processes,
            you can have your say on how this money could be better spent in the
            upcoming years.
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- horizontal divide line -->
  <div class="my-6 w-full border-t border-gray-300 md:my-8"></div>
  <div class="mt-2 items-center justify-between md:flex">
    <p class="benfritz fvs-250 text-[22.5px]">Office of the Mayor</p>
    <div
      class="hidden h-[50px] w-[167px] cursor-pointer gap-2 rounded-md bg-neutral-200 p-4 font-medium hover:bg-neutral-300 md:flex md:items-center"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      <span class="text-sm"> Suggest an edit </span>
    </div>
  </div>
  <div
    class="mt-6 flex flex-col gap-3 pb-6 md:mt-8 lg:flex-row lg:items-center"
  >
    <!-- mayor card -->
    <div class="my-4 w-full rounded-lg bg-white p-6 shadow-btm lg:w-1/2">
      <div class="flex items-center justify-between">
        <p class="text-sm font-bold">Mayor/Executive Mayor</p>
      </div>
      <!-- horizontal divide line -->
      <div class="my-2 w-full border-t border-gray-100 md:my-4"></div>
      <div
        class="flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="ml-3 break-all">Mr P Swart</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-phone-flip"></i>
          </span>
          <span class="ml-3 break-all">028 425 5513</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span class="ml-3 break-all">pauls@capeagulhas.gov.za</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Second mayor card -->
    <div class="my-4 w-full rounded-lg bg-white p-6 shadow-btm lg:w-1/2">
      <div class="flex items-center justify-between">
        <p class="text-sm font-bold">Secretary to the Mayor/Executive Mayor</p>
      </div>
      <!-- horizontal divide line -->
      <div class="my-2 w-full border-t border-gray-100 md:my-4"></div>
      <div
        class="flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="ml-3 break-all">Mr W Arendse</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-phone-flip"></i>
          </span>
          <span class="ml-3 break-all">028 425 5513</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span class="ml-3 break-all">pauls@capeagulhas.gov.za</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- dropdown -->
    <div class="relative mt-3 inline-block w-full">
      <div>
        <button
          type="button"
          class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-neutral-300 px-4 py-3 text-sm font-medium text-black shadow-sm hover:bg-neutral-400 focus:outline-none"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <span class="inline-block text-left font-medium"
            >What is a municipal office?</span
          >
          <i class="tab-caret fa-solid fa-chevron-down text-black"></i>
        </button>
      </div>

      <div
        class="panel right-0 left-0 mt-0 w-full origin-top-right rounded-md bg-neutral-200 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-2 px-3" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <a
            href="#"
            class="block px-2 py-2 text-sm text-black"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
          >
            This spending was been flagged by auditors as having been
            unnecessary or avoidable. As a citizen, that means that this is
            money that could have been put towards things that you feel your
            community needs. By taking part in public participation processes,
            you can have your say on how this money could be better spent in the
            upcoming years.
          </a>
        </div>
      </div>
    </div>
    <!-- second dropdown -->
    <div class="relative mt-3 inline-block w-full">
      <div>
        <button
          type="button"
          class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-neutral-300 px-4 py-3 text-sm font-medium text-black shadow-sm hover:bg-neutral-400 focus:outline-none"
          id="menu-button"
          aria-expanded="true"
          aria-haspopup="true"
        >
          <span class="inline-block text-left font-medium"
            >What can i do at a municipal office?</span
          >
          <i class="tab-caret fa-solid fa-chevron-down text-black"></i>
        </button>
      </div>

      <div
        class="panel right-0 left-0 mt-0 w-full origin-top-right rounded-md bg-neutral-200 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="menu-button"
        tabindex="-1"
      >
        <div class="py-2 px-3" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <a
            href="#"
            class="block px-2 py-2 text-sm text-black"
            role="menuitem"
            tabindex="-1"
            id="menu-item-0"
          >
            This spending was been flagged by auditors as having been
            unnecessary or avoidable. As a citizen, that means that this is
            money that could have been put towards things that you feel your
            community needs. By taking part in public participation processes,
            you can have your say on how this money could be better spent in the
            upcoming years.
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- horizontal divide line -->
  <div class="my-6 w-full border-t border-gray-300 md:my-8"></div>
  <div class="mt-2 items-center justify-between md:flex">
    <p class="benfritz fvs-250 text-[22.5px]">
      Office of the Deputy Mayor
    </p>
    <div
      class="hidden h-[50px] w-[167px] cursor-pointer gap-2 rounded-md bg-neutral-200 p-4 font-medium hover:bg-neutral-300 md:flex md:items-center"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      <span class="text-sm"> Suggest an edit </span>
    </div>
  </div>
  <div
    class="mt-6 flex flex-col gap-3 pb-6 md:mt-8 lg:flex-row lg:items-center"
  >
    <!-- Deputy mayor card -->
    <div class="my-4 w-full rounded-lg bg-white p-6 shadow-btm lg:w-1/2">
      <div class="flex items-center justify-between">
        <p class="text-sm font-bold">Deputy Mayor</p>
      </div>
      <!-- horizontal divide line -->
      <div class="my-2 w-full border-t border-gray-100 md:my-4"></div>
      <div
        class="flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="ml-3 break-all">Ms Zukiswa Tonisi</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-phone-flip"></i>
          </span>
          <span class="ml-3 break-all">028 425 5513</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span class="ml-3 break-all">pauls@capeagulhas.gov.za</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
    </div>
    <!-- Second deputy mayor card -->
    <div class="my-4 w-full rounded-lg bg-white p-6 shadow-btm lg:w-1/2">
      <div class="flex items-center justify-between">
        <p class="text-sm font-bold">Secretary to the Deputy Mayor</p>
      </div>
      <!-- horizontal divide line -->
      <div class="my-2 w-full border-t border-gray-100 md:my-4"></div>
      <div
        class="flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="ml-3 break-all">Mr P Valentine</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-phone-flip"></i>
          </span>
          <span class="ml-3 break-all">028 425 5513</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
      <div
        class="my-2 flex w-full flex-wrap items-center justify-between text-sm md:text-base"
      >
        <div class="flex items-center">
          <span>
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span class="ml-3 break-all">pauls@capeagulhas.gov.za</span>
        </div>
        <div class="flex items-center">
          <i
            class="tooltip fa-solid fa-circle-exclamation mr-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900 md:mr-4"
          >
            <span class="tooltipText">
              Report a problem
              <span class="triangle-down"></span>
            </span>
          </i>
          <span
            class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
          >
            <span class="voteTooltipText">
              This was helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-up text-green-600"></i>
            </span>
            <span> 5 </span>
          </span>
          <span
            class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
          >
            <span class="voteTooltipText">
              This was not helpful
              <span class="triangle-down"></span>
            </span>
            <span>
              <i class="fa-solid fa-thumbs-down text-red-600"></i>
            </span>
            <span> 0 </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
