{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ward}} - {{ward.municipality.name }} - Here For Change</title>
  <link rel="icon" href="{% static 'assets/hereforchange-favicon.png' %}"  />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body class="h-screen">
  <section class="flex bg-gray-200 items-center justify-center w-full lg:h-full">
    <div class="flex py-2 md:py-0 px-2 md:px-8 xl:px-4 w-full max-w-screen-xl">
      {% include "./who_is_my_ward_councillor.html" %}
    </div>
  </section>
</body>

</html>

