{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ward}} - {{ward.municipality.name }} - Here For Change{% endblock %} 
{% block content %} 
{% include "./ward_notification.html" %}
<section>
  <div
    class="align-items mx-auto flex max-w-screen-xl flex-col gap-3 p-4 md:p-8"
  >
    <div class="inline-block items-center text-left md:flex">
      <h1 class="benfritz w-full text-left text-[48px] md:w-auto md:pr-4">
        {{ ward.municipality.name }}
      </h1>
      <div class="relative" x-data="{open: false}">
        <div class="">
          <button
            @click="open = ! open"
            type="button"
            class="inline-flex w-full items-center justify-between gap-2 rounded-md bg-hfc-green-100 px-4 py-3 text-sm font-medium text-white shadow-sm hover:bg-teal-900 focus:outline-none lg:w-40"
            id="ward-button"
            aria-expanded="true"
            aria-haspopup="true"
          >
            <span>{{ward}}</span>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>

        <div
          class="dropdown-panel absolute top-0 right-0 z-[2] w-full rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="menu-button"
          tabindex="-1"
          x-show="open"
          x-transition
          @click.outside="open = false"
          @click="open = ! open"
        >
          <div class="pb-1" role="none">
            <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
            {% for ward_item in ward.municipality.ward_set.all %}
            <a
              href="{% url 'ward_detail' ward.municipality.municipality_code ward_item.slug %}"
              class="ward-dropdown block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="menu-item-0"
              onclick="dropDownHandler(event, 'ward-button')"
              >{{ward_item}}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="leading-[2.5rem]"><a href="#" class="underline">{{ward.name}}</a> within <span class="font-semibold p-2 bg-neutral-100 rounded-lg">{{ward.municipality.name}}</span> municipality. A <a href="#" class="underline">{{ward.municipality.municipality_type.lower}} municipality</a> within 
        {% if ward.municipality.district %}
          <span class="font-semibold p-2 bg-neutral-100 rounded-lg">{{ward.municipality.district}}</span>, 
        {% endif %}
        {{ward.municipality.get_province_display}}.</p>
    </div>
  </div>
</section>
<section>
  <div id="map"></div>
</section>
<section class="bg-hfc-green-900">
  <div
    class="mx-auto max-w-screen-xl items-center justify-between px-4 pt-9 pb-4 md:flex md:px-8 xl:px-4"
  >
    <h2 class="benfritz text-center text-2xl text-white md:text-3xl">
      Your
      <span class="relative">
        ward councillior<img
          class="absolute left-0 w-full"
          src="{% static 'assets/basic-underline.svg' %}"
        />
      </span>
      is:
    </h2>
    <div class="">
      <div
        class="hidden cursor-pointer justify-self-end rounded-md bg-hfc-green-700 p-3 hover:bg-hfc-green-600 md:block"
      >
        <span>
          <i class="fa-solid fa-pen-to-square text-xl text-white"></i>
        </span>
        <span class="text-white"> Suggest an edit </span>
      </div>
    </div>
  </div>

  <div
    class="mx-auto max-w-screen-xl items-start gap-4 px-4 py-6 md:px-8 lg:flex xl:px-4"
  >
    <!-- left side -->
    <div class="lg:w-1/2">
      <!-- white card -->
      <div class="relative rounded-lg bg-white p-4 text-base">
        <!-- big rotating star -->
        <div
          class="start-transition absolute -top-9 -left-6 flex h-16 w-16 cursor-default items-center justify-center lg:-left-10 lg:h-[84px] lg:w-[84px]"
        >
          <img
            style="animation-duration: 8s"
            class="animate-spin"
            src="{% static 'assets/big-star.svg' %}"
          />
          <p
            class="benfritz absolute rotate-[-12deg] text-center text-[16.8px] leading-[13.44px] text-white hover:rotate-[-32deg] lg:text-[22.4px] lg:leading-[17.92px]"
          >
            Start<br />here!
          </p>
        </div>
        <div class="flex items-center gap-2">
          <img
            class="h-20 w-20 rounded-lg"
            src="https://assets.website-files.com/61a46f92a4845f1ed45ec01d/61d7e311bea0c7b4d41234e6_danny-europa.png"
          />
          <div class="grow">
            <div class="flex items-center justify-between">
              <p class="font-bold">{{content.ward.councillor.name.value}}</p>
              <i class="tooltip fa-solid fa-circle-exclamation text-neutral-300 hover:text-hfc-green-900 cursor-pointer mr-2 md:mr-4"><span class="tooltipText">
                Report a problem                    
                <span class="triangle-down"></span> </span
              ></i>
            </div>
            <p>{{content.ward.councillor.political_party.value}}</p>
            <p class="font-semibold text-neutral-400">Elected {{content.ward.councillor.elected_date.value}}</p>
          </div>
        </div>
        <div class="my-3 border-t-2 border-gray-100"></div>
        <!-- tel row -->
        <div class="flex flex-wrap items-center text-sm">
          <div class="flex grow items-center">
            <span class="mr-4 ml-2">
              <i class="fa-solid fa-phone-flip"></i>
            </span>
            <span
              class="mr-5 cursor-pointer whitespace-nowrap rounded-md p-2 text-sm hover:bg-gray-200"
            >
              028 425 5500
            </span>
          </div>
          <div class="flex items-center">
            <i
              class="tooltip fa-solid fa-circle-exclamation mx-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900"
            >
              <span class="tooltipText">
                Report a problem
                <span class="triangle-down"></span> </span
            ></i>
            <span
              class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
            >
              <span class="voteTooltipText">
                This was helpful
                <span class="triangle-down"></span>
              </span>
              <span>
                <i class="fa-solid fa-thumbs-up text-green-600"> </i>
              </span>
              <span> 24 </span>
            </span>
            <span
              class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
            >
              <span class="voteTooltipText">
                This was not helpful
                <span class="triangle-down"></span>
              </span>
              <span>
                <i class="fa-solid fa-thumbs-down text-red-600"></i>
              </span>
              <span> 24 </span>
            </span>
          </div>
        </div>
        <!-- email row -->
        <div class="mt-2 flex shrink-0 flex-wrap items-center text-sm">
          <div class="flex grow flex-nowrap items-center">
            <span class="mr-4 ml-2">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <span class="text-sm mr-1 md:mr-5 hover:bg-gray-200 p-2 rounded-md cursor-pointer whitespace-nowrap">
              {{content.ward.councillor.contacts.email.primary.value}}
            </span>
          </div>
          <div class="flex items-center">
            <i
              class="tooltip fa-solid fa-circle-exclamation mx-2 cursor-pointer text-neutral-300 hover:text-hfc-green-900"
            >
              <span class="tooltipText">
                Report a problem
                <span class="triangle-down"></span>
              </span>
            </i>
            <span
              class="voteTooltip mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-green-100"
            >
              <span class="voteTooltipText">
                This was helpful
                <span class="triangle-down"></span>
              </span>

              <span>
                <i class="fa-solid fa-thumbs-up text-green-600"></i>
              </span>
              <span> 5 </span>
            </span>
            <span
              class="voteTooltip flex cursor-pointer items-center gap-3 rounded-md bg-neutral-100 p-2 hover:bg-red-200"
            >
              <span class="voteTooltipText">
                This was not helpful
                <span class="triangle-down"></span>
              </span>
              <span>
                <i class="fa-solid fa-thumbs-down text-red-600"></i>
              </span>
              <span> 0 </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- right side -->
    <div class="lg:w-1/2">
      <div>
        <p class="pt-6 text-center text-sm text-white md:text-left lg:pt-0">
          Frequently asked questions:
        </p>
        <div class="relative mt-3 inline-block w-full">
          <div>
            <button
              type="button"
              class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-hfc-green-600 px-4 py-3 text-sm font-medium text-white shadow-sm hover:bg-hfc-green-500 focus:outline-none"
              id="tab-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              <span class="inline-block">What is a ward councillor?</span>
              <i class="fa-solid fa-chevron-down tab-caret"></i>
            </button>
          </div>

          <div
            class="panel right-0 left-0 mt-0 hidden w-full origin-top-right rounded-md bg-hfc-green-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-2 px-3" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a
                href="#"
                class="block px-2 py-2 text-sm text-white"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                A ward councillor is an elected representative responsible for
                ensuring that the needs of their ward are represented and
                considered during a district or municipalities various planning
                and budgetary processes.
              </a>
            </div>
          </div>
        </div>
        <!-- second dropdown -->
        <div class="relative mt-3 inline-block w-full">
          <div>
            <button
              type="button"
              class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-hfc-green-600 px-4 py-3 text-sm font-medium text-white shadow-sm hover:bg-hfc-green-500 focus:outline-none"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              <span class="inline-block"
                >How are ward councillors elected?</span
              >
              <i class="fa-solid fa-chevron-down tab-caret"></i>
            </button>
          </div>

          <div
            class="panel right-0 left-0 mt-0 hidden w-full origin-top-right rounded-md bg-hfc-green-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-2 px-3" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a
                href="#"
                class="block px-2 py-2 text-sm text-white"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                A ward councillor is an elected representative responsible for
                ensuring that the needs of their ward are represented and
                considered during a district or municipalities various planning
                and budgetary processes.
              </a>
            </div>
          </div>
        </div>
        <!-- third dropdown -->
        <div class="relative mt-3 inline-block w-full">
          <div>
            <button
              type="button"
              class="tab-button flex w-full items-center justify-between gap-2 rounded-md bg-hfc-green-600 px-4 py-3 text-sm font-medium text-white shadow-sm hover:bg-hfc-green-500 focus:outline-none"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              <span class="inline-block">What is a ward?</span>
              <i class="fa-solid fa-chevron-down tab-caret"></i>
            </button>
          </div>

          <div
            class="panel right-0 left-0 mt-0 hidden w-full origin-top-right rounded-md bg-hfc-green-700 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-2 px-3" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a
                href="#"
                class="block px-2 py-2 text-sm text-white"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
              >
                A ward councillor is an elected representative responsible for
                ensuring that the needs of their ward are represented and
                considered during a district or municipalities various planning
                and budgetary processes.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Summary section -->
<section class="bg-neutral-100 pt-20">
  <div
    class="mx-auto max-w-screen-xl gap-7 px-4 md:flex md:px-8 lg:gap-12 xl:px-4"
  >
    <!-- Left side bar -->
    <div
      id="toc"
      class="sticky top-0 z-20 bg-neutral-100 py-6 text-sm md:top-16 md:h-[446px] md:w-1/4 md:py-0 md:text-base"
    >
      <div
        id="side-anime"
        class="relative flex flex-row gap-2 overflow-x-auto border-[#9333ea00] md:flex-col md:gap-0 md:overflow-x-visible md:rounded-3xl md:border-4 md:border-solid md:p-2"
      >
        <p
          id="side-anime-banner"
          class="benfritz absolute top-[-10%] left-[-20%] hidden rounded-md bg-[#7f00ff] p-2 text-white opacity-0 md:block"
        >
          Choose a category to explore!
        </p>
        <div
          onclick="openToc(event, 'summary')"
          class="btn-active toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-bolt-lightning"></i>
          </span>
          <span class="font-medium"> Summary </span>
        </div>
        <div
          onclick="openToc(event, 'contact')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-phone-flip"></i>
          </span>
          <span class="font-medium"> Contact </span>
        </div>
        <div
          onclick="openToc(event, 'spending')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-coins"></i>
          </span>
          <span class="font-medium"> Spending </span>
        </div>
        <div
          onclick="openToc(event, 'participation')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <span class="font-medium"> Participation </span>
        </div>
        <div
          onclick="openToc(event, 'surveys')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-file-signature"></i>
          </span>
          <span class="font-medium"> Surveys </span>
        </div>
        <div
          onclick="openToc(event, 'elections')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-check-to-slot"></i>
          </span>
          <span class="font-medium"> Elections </span>
        </div>
        <div
          onclick="openToc(event, 'messages')"
          class="btn-inactive toc-btn mb-3 cursor-pointer items-center gap-5 rounded-lg p-1 text-center transition-all duration-[400ms] ease-in-out md:flex md:h-12 md:w-auto md:p-4"
        >
          <span>
            <i class="fa-solid fa-comment-dots"></i>
          </span>
          <span class="font-medium"> Messages </span>
        </div>
      </div>
    </div>
    <!-- Right side  -->
    <div id="summary" class="toc md:w-3/4">
      {% include "./toc_summary.html" %}
    </div>
    <div id="contact" class="toc hidden md:w-3/4">
      {% include "./toc_contact.html" %}
    </div>
    <div id="spending" class="toc hidden md:w-3/4">
      {% include "./toc_spending.html" %}
    </div>
    <div id="participation" class="toc hidden md:w-3/4">
      {% include "./toc_participation.html" %}
    </div>
    <div id="surveys" class="toc hidden md:w-3/4">
      {% include "./toc_surveys.html" %}
    </div>
    <div id="elections" class="toc hidden md:w-3/4">
      {% include "./toc_elections.html" %}
    </div>
    <div id="messages" class="toc hidden md:w-3/4">
      {% include "./toc_messages.html" %}
    </div>
  </div>
</section>
<!-- Take action section -->
<section class="mt-10 bg-white">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8 xl:px-4">
    <div class="w-full text-center">
      <p class="benfritz pb-5 text-2xl md:text-3xl">
        ...or
        <span class="relative">
          take action
          <img
            class="absolute left-0 w-full"
            src="{% static 'assets/basic-underline.svg' %}"
          />
        </span>
        with our participation tools!
      </p>
      <p class="pb-7 text-sm font-medium text-slate-400">
        Designed to help residents take action and influence change in their
        community
      </p>
    </div>

    <div
      class="mx-auto flex w-full flex-col flex-wrap items-center justify-between gap-5 md:flex-row"
    >
      <!-- action card -->
      {% for item in content.participation.items %}

      <a
        href="{{item.url}}"
        class="hover-card-img relative block w-full cursor-pointer rounded-lg px-2 pb-3 text-sm shadow-wide transition-all duration-300 ease-in-out hover:-translate-y-1.5 md:w-[48%] lg:w-[23%]"
      >
        {% if item.popular %}
        <p
          class="popular-banner benfritz absolute top-[-5px] left-[-8px] z-40 rotate-[-25deg] rounded-md bg-[#7f00ff] p-2 text-white"
        >
          Popular!
        </p>
        {% endif %}
        <div class="relative h-[182px] w-full overflow-hidden rounded-lg">
          <div
            class="absolute top-0 left-0 bottom-0 right-0 z-10 rounded-lg bg-[#7f00ff] opacity-20"
          ></div>
          <img
            class="z-2 h-[182px] w-full rounded-lg object-cover transition-all duration-300 ease-in-out"
            src="{{item.image}}"
          />
        </div>
        <div
          class="flex h-[52px] w-full items-center justify-center text-center"
        >
          <span class="font-bold text-[#192827]">{{item.title}}</span>
        </div>
        <!-- horizontal divide line -->
        <div class="mb-2 w-full border-t border-gray-100 md:mb-4"></div>
        <div class="flex items-center justify-between text-slate-400">
          <div class="flex items-center gap-x-2">
            <span>
              <i class="fa-solid fa-stopwatch"></i>
            </span>
            <span>{{item.length}} sec</span>
          </div>
          <div class="flex items-center gap-x-2">
            <div
              class="smTooltip flex cursor-pointer items-center gap-x-2 rounded-lg p-2 hover:bg-neutral-200 hover:text-[#7f00ff]"
            >
              <span class="smTooltipText">
                Like this
                <span class="triangle-down"></span>
              </span>
              <span>
                <i class="fa-solid fa-heart"></i>
              </span>
              <span>{{item.likes}}</span>
            </div>
            <div
              class="smTooltip flex cursor-pointer items-center gap-x-2 rounded-lg p-2 hover:bg-neutral-200 hover:text-[#7f00ff]"
            >
              <span class="smTooltipText">
                Share this
                <span class="triangle-down"></span>
              </span>
              <span>
                <i class="fa-solid fa-share"></i>
              </span>
              <span>{{item.replies}}</span>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="align-items mt-7 mb-12 flex w-full justify-center">
      <div
        class="flex h-[50px] w-full cursor-pointer items-center justify-between rounded-md bg-neutral-200 px-4 font-medium hover:bg-neutral-300 md:w-[174px]"
      >
        <span class="whitespace-nowrap text-sm"> Explore more tools </span>
        <i class="fa-solid fa-arrow-right pl-2 text-xl"></i>
      </div>
    </div>
  </div>
</section>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcOEGhLjgM6DKeW0lTGZyJ_QqcLwO7GmA&callback=initMap&v=weekly"
  defer
></script>
<script>
  function initMap() {
    const location = { lat: {{ward.map_latitude}}, lng: {{ward.map_longitude}} };
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: {{ward.map_default_zoom}},
      center: location,
    });
    const marker = new google.maps.Marker({
      position: location,
      map: map,
    });
  }
</script>
{% endblock %}
