{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(
            window,
            document,
            "script",
            "dataLayer",
            "{{ TAG_MANAGER_CONTAINER_ID }}"
        );
    </script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBc15woji15KUqe8SxJoVpwRP4sB7Mtmk&libraries=places"
    ></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/libphonenumber-js@1.9.9/bundle/libphonenumber-min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Who is my ward councillor?</title>
    {% block meta %}
    <meta property="description"
        content="{% block description %}A public participation platform at your local level.{% endblock %}" />
    <meta name="twitter:title" content="{% block twitter_title %}Here For Change{% endblock %}" />
    <meta name="twitter:description"
        content="{% block twitter_description %}A public participation platform at your local level.{% endblock %}" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{% block og_title %}Here for Change{% endblock %}" />
    <meta property="og:description"
        content="{% block og_description %}A public participation platform at your local level.{% endblock %}" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ TAG_MANAGER_CONTAINER_ID }}" height="0"
            width="0" style="display: none; visibility: hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    <div class="relative bg-hfc-green-900 w-full p-7 rounded-3xl ">
        <div class="lg:max-w-[672px]">
            <h1 class="fvs-200 benfritz text-white font-normal text-2xl mb-[31px] lg:hidden">Find my ward councillor
            </h1>
            <div class="lg:absolute lg:w-[calc(100%-730px)] lg:top-0 lg:bottom-0 lg:right-0">
                <div id="map" class="relative min-h-[300px] lg:min-h-full rounded-lg lg:rounded-l-none">
                    <p
                        class="karla flex items-center absolute top-2 right-2 bg-[#353535] text-white z-[425] rounded-lg p-2  shadow-[0_3px_4px_0_rgba(0,0,0,0.3)]">
                        <i class="fa-solid fa-arrows-up-down-left-right text-base mr-1"></i>
                        Tap to select your ward
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row s justify-between my-[31px] gap-y-2 lg:mt-0">
                <button onclick=""
                    class="flex items-center justify-center h-9 px-3 text-sm rounded-md text-black whitespace-nowrap text-center font-medium bg-white">
                    <i class="fa-solid fa-sharp fa-location-pin text-[#7f00ff] pr-2"></i>
                    <span class="ward-name ">Ward name, Muni name</span>
                </button>
                <a href="{% url 'find_councillor' %}"
                    class="flex items-center justify-center w-full h-9  md:w-[180px] text-sm rounded-md text-white whitespace-nowrap text-center font-medium bg-[#7f00ff] transition-[background-color] duration-200 ease hover:bg-[#4b0097]">Change
                    location</a>
            </div>
            <p class="fvs-200 benfritz text-white font-normal text-3xl mb-[31px]">Your ward councillor is:</p>
            <div class="relative rounded-lg bg-hfc-green-700 p-4 text-base">
                <div class="flex items-center gap-2">
                    <img class="h-20 w-20 rounded-lg"
                        src="https://assets.website-files.com/61a46f92a4845f1ed45ec01d/61d7e311bea0c7b4d41234e6_danny-europa.png" />
                    <div class="grow">
                        <div class="flex items-center justify-between">
                            <p class="font-bold text-white">{{ward_detail.councillor_name.value}}</p>
                            <span
                                class="mr-2 flex cursor-pointer items-center rounded-md bg-hfc-green-600 p-2 hover:bg-hfc-green-500">
                                <i class="fa-solid fa-share text-white"></i>
                            </span>
                        </div>
                        <p class="ward-name text-white opacity-60">{{ward.name|json_script:"councillor-ward"}}</p>
                        <p class="text-white opacity-60">{{ward_detail.councillor_political_party.value}}</p>
                    </div>
                </div>
                <!-- horizontal divide -->
                <div class="border-white opacity-10 w-full border-t my-4"></div>
                <p class="text-sm text-white mb-3">Contact this councillor</p>
                <!-- tel row -->
                <div class="flex flex-wrap items-center text-sm">
                    <div class="flex grow items-center">
                        <span class="mr-2">
                            <i class="fa-solid fa-phone text-white"></i>
                        </span>
                        <span id="councillor-phone"
                            class="text-sm mr-5 cursor-pointer hover:bg-hfc-green-500 p-2 rounded-md whitespace-nowrap text-white bg-hfc-green-600">
                            <!-- formatted phone number would be added by JS -->
                            {{ward_detail.councillor_contacts_phone.value|json_script:"council-num" }}
                        </span>
                    </div>
                    <div class="flex items-center">
                        <span
                            class="mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-hfc-green-600 p-2 hover:bg-hfc-green-500">
                            <span>
                                <i class="fa-solid fa-thumbs-up text-green-600"> </i>
                            </span>
                            <span class="text-white"> {{ward_detail.councillor_contacts_phone.feedback.positive}}</span>
                        </span>
                        <span
                            class="flex cursor-pointer items-center gap-3 rounded-md bg-hfc-green-600 p-2 hover:bg-hfc-green-500">
                            <span>
                                <i class="fa-solid fa-thumbs-down text-red-600"></i>
                            </span>
                            <span class="text-white"> {{ward_detail.councillor_contacts_phone.feedback.negative}}</span>
                        </span>
                    </div>
                </div>
                <!-- email row -->
                <div class="mt-2 flex gap-y-2 shrink-0 flex-wrap items-center text-sm">
                    <div class="flex grow flex-nowrap items-center">
                        <span class="mr-2">
                            <i class="fa-solid fa-envelope text-white"></i>
                        </span>
                        <span
                            class="text-sm text-white mr-1 md:mr-5 bg-hfc-green-600 hover:bg-hfc-green-500 p-2 rounded-md cursor-pointer whitespace-nowrap">
                            {{ward_detail.councillor_contacts_email_primary.value}}
                        </span>
                    </div>
                    <div class="flex items-center">
                        <span
                            class=" mr-2 flex cursor-pointer items-center gap-3 rounded-md bg-hfc-green-600 p-2 hover:bg-hfc-green-500">
                            <span>
                                <i class="fa-solid fa-thumbs-up text-green-600"></i>
                            </span>
                            <span class="text-white">
                                {{ward_detail.councillor_contacts_email_primary.feedback.positive}} </span>
                        </span>
                        <span
                            class=" flex cursor-pointer items-center gap-3 rounded-md bg-hfc-green-600 p-2 hover:bg-hfc-green-500">
                            <span>
                                <i class="fa-solid fa-thumbs-down text-red-600"></i>
                            </span>
                            <span class="text-white">
                                {{ward_detail.councillor_contacts_email_primary.feedback.negative}} </span>
                        </span>
                    </div>
                </div>
                <!-- horizontal divide -->
                <div class="border-white opacity-10 w-full border-t my-4"></div>
                <div class="flex flex-col md:flex-row items-center justify-between gap-y-2 lg:mt-0">
                    <p class="text-white text-sm lg:text-base">
                        Are these details incorrect or out of date?
                    </p>
                    <button onclick=""
                        class="flex items-center justify-center w-full h-9  md:w-[180px] text-sm rounded-md text-white whitespace-nowrap text-center font-medium bg-[#7f00ff] transition-[background-color] duration-200 ease hover:bg-[#4b0097]">Suggest
                        an edit</button>
                </div>
            </div>
            <div class="border-white opacity-10 w-full border-t my-[21px] md:my-[31px]"></div>
            <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between">
                <a class="text-lg inline-block benfritz text-white lg:text-[21px] relative" href="#">
                    <span>HereForChange</span>
                    <div
                        class="w-8 h-8 lg:w-[35px] lg:h-[35px] absolute -top-[17px] -right-[31px] lg:-right-[23px] flex items-center justify-center rotate-[-17deg]">
                        <img class="w-8 h-8 lg:w-[35px] lg:h-[35px]" src="{% static 'assets/SA-flag.png' %}" />
                    </div>
                </a>
                <div class="flex items-center gap-x-2">
                    <p class="text-white text-sm opacity-60">Share:</p>
                    <a class="w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="https://www.facebook.com/OpenUpSA" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-facebook text-white"></i>
                    </a>
                    <a class="w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="#">
                        <i class="fa-brands fa-whatsapp text-white"></i>
                    </a>
                    <a class="w-10 h-10 bg-hfc-green-700 flex items-center justify-center rounded-lg" href="https://twitter.com/openupsa" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-twitter text-white"></i>
                    </a>
                    <div id="open-embed" class="cursor-pointer relative h-10 px-2 bg-hfc-green-700 flex items-center justify-center rounded-lg">
                        <span class="text-white text-sm font-semibold">Embed</span>
                        <!-- Embed link card -->
                        <div id="embed-card" class="hidden break-words cursor-text absolute left-[-200px] sm:left-[-340px] bottom-8 bg-white text-black p-4 pt-6 z-[100] rounded-2xl w-auto md:w-[400px]">
                            &lt;iframe src="http://localhost:8000{% url 'councillor_info' object.municipality.municipality_code object.slug %}" frameborder="0" width="100%" height="620" allow="clipboard-write"&gt;&lt;/iframe&gt;
                            <i id="close-embed" class="fa-regular fa-circle-xmark absolute right-2 top-2 cursor-pointer"></i>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- get details of available Municipalities -->
    <div class="hidden">
        <div class="current_ward">
            {
            "geometry": {{object.map_geoJson}},
            "name": "{{object.name}}",
            "slug": "{{object.slug}}",
            "muniCode": "{{object.municipality.municipality_code}}",
            "muniAreaNum": {{object.municipality.area_number}},
            "municipality": "{{object.municipality}}",
            "defaultZoom": {{object.map_default_zoom}},
            "url": "{{object.get_absolute_url}}",
            "coords": [{{object.municipality.map_latitude}}, {{object.municipality.map_longitude}}]
            }
        </div>
        {% for neighbour in neighbours %}
        <div class="neighbouring_wards">
            {
            "geometry": {{neighbour.map_geoJson}},
            "name": "{{neighbour.name}}",
            "slug": "{{neighbour.slug}}",
            "muniCode": "{{neighbour.municipality.municipality_code}}",
            "municipality": "{{neighbour.municipality}}",
            "defaultZoom": {{object.map_default_zoom}},
            "url": "{{neighbour.get_absolute_url}}"
            }
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/here_for_change.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/random-points-on-polygon.js' %}"></script>
</body>

</html>