{% extends "embed_base.html" %} {% load static %}
{% block title %}Who is my ward councillor{% endblock %}
{% block content %}
{% load common %}

{% include "./councillor_detail_tool.html" %}
<!-- get details of ward and neighbours -->
<script>
    {% autoescape off %}
        var current_ward = {
        "geometry": {{object.map_geoJson}},
        "name": "{{object.name}}",
        "formatted_name": "{{object.formatted_name}}",
        "slug": "{{object.slug}}",
        "muniCode": "{{object.municipality.municipality_code}}",
        "muniAreaNum": {{object.municipality.area_number}},
        "municipality": "{{object.municipality}}",
        "defaultZoom": {{object.map_default_zoom}},
        "url": "{{object.get_absolute_url}}",
        "ward_detail":{{ward_detail|to_json}},
        "coords":{{object.coords|to_json}}
        }
        
        var neighbouring_wards = []
        {% for neighbour in neighbours %}
        
        var eachNeighbour = {
            "geometry": {{neighbour.map_geoJson}},
            "name": "{{neighbour.name}}",
            "formatted_name": "{{object.formatted_name}}",
            "slug": "{{neighbour.slug}}",
            "muniCode": "{{neighbour.municipality.municipality_code}}",
            "municipality": "{{neighbour.municipality}}",
            "defaultZoom": {{neighbour.map_default_zoom}},
            "url": "{{neighbour.get_absolute_url}}",
            "ward_detail":{{neighbour.ward_detail|to_json}}
        }
        neighbouring_wards.push(eachNeighbour)
        {% endfor %}
    {% endautoescape %}
</script>
{% csrf_token %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/ward-detail-feedback.js' %}" ></script>
{% endblock scripts %}
