{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(
        window,
        document,
        "script",
        "dataLayer",
        "{{ TAG_MANAGER_CONTAINER_ID }}"
      );
    </script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBc15woji15KUqe8SxJoVpwRP4sB7Mtmk"
      async
      defer
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/libphonenumber-js@1.9.9/bundle/libphonenumber-min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}Here For Change{% endblock %}</title>
    {% block meta %}
    <meta
      property="description"
      content="{% block description %}A public participation platform at your local level.{% endblock %}"
    />
    <meta
      name="twitter:title"
      content="{% block twitter_title %}Here For Change{% endblock %}"
    />
    <meta
      name="twitter:description"
      content="{% block twitter_description %}A public participation platform at your local level.{% endblock %}"
    />
    <meta name="twitter:card" content="summary" />
    <meta
      property="og:title"
      content="{% block og_title %}Here for Change{% endblock %}"
    />
    <meta
      property="og:description"
      content="{% block og_description %}A public participation platform at your local level.{% endblock %}"
    />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
  </head>
  <body>
    {% if TAG_MANAGER_ENABLED %}
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id={{ TAG_MANAGER_CONTAINER_ID }}"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include "./simple_nav.html" %}
     <!-- find location modal -->
     <div id="location-modal" class="relative z-[100] hide-modal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <!--
        Background backdrop, show/hide based on modal state.
    
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div class="fixed inset-0 bg-gray-500 bg-opacity-50 transition-opacity"></div>
    
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div id="modal-overlay" class="flex min-h-full items-center justify-center p-4 text-center sm:items-center sm:p-0">
          <!--
            Modal panel, show/hide based on modal state.
    
            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div class="flex flex-col p-8 w-[420px] gap-y-3.5 relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8">
            <div class="flex items-center">
              <div class="relative h-10 w-10">
                <span class="double-bounce-1 absolute bg-[#7f00ff] opacity-60 h-10 w-10 rounded-full"></span>
                <span class="double-bounce-2 absolute bg-[#7f00ff] opacity-60 h-10 w-10 rounded-full"></span>
              </div>
              <p class="leading-8 text-[#192827] ml-3.5 text-3xl font-bold benfritz fvs-200">Please wait, we are<br/> finding your ward!</p>
            </div>
            <div class="flex">
              <p class="text-sm text-[#192827]">
                Based on the location provided to us by your browser, we are identifying your ward. <strong>Please enable location sharing</strong> for our website to enable this feature.
              </p>
            </div>
            <div class="flex flex-col md:flex-row md:justify-between gap-3.5">
              <button onclick="closeModal()" class="text-sm p-4 text-center w-full cursor-pointer bg-[#1928270d] rounded-lg">Cancel</button>
              <a target="_blank" rel="noopener noreferrer" class="text-sm whitespace-nowrap p-4 text-center block w-full  cursor-pointer text-white bg-[#192827] rounded-lg" href="https://support.google.com/chrome/answer/142065?hl=en&co=GENIE.Platform%3DDesktop">How to enable location</a>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <!-- end of location modal -->
    {% block content %}{% endblock %}
    <footer class="bg-hfc-green-900 w-full py-12">
      <div class="px-4 md:px-8 xl:px-4 max-w-screen-xl mx-auto">
        <div class="flex flex-col md:flex-row">
          <div class="w-full md:w-[27.5%]">
            <a class="text-lg inline-block benfritz text-white lg:text-2xl relative pb-7" href="#">
              <span>HereForChange</span>
              <div class="w-5 h-5 lg:w-[25px] lg:h-[25px] absolute -top-2 -right-3 lg:-right-4 flex items-center justify-center rotate-[-17deg]">
                <img class="w-5 h-5 lg:w-[25px] lg:h-[25px]" src="{% static 'assets/Star1.svg' %}"/>
                <span class="text-white absolute text-xs lg:text-sm font-extralight">za</span>
              </div>
            </a>
            <p class="text-sm text-white opacity-60">
              This site was created to help citizens better understand and engage with their local government’s public participation processes in order to effect change in their communities.
            </p>
          </div>
          <div class="w-full md:w-[27.5%] md:ml-[12.5%] text-sm">
            <p class="my-4 text-hfc-green-100">Learning & guides</p>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">What is public participation?</a>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">Understanding local government</a>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">How to effectively resolve issues in your ward</a>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">How to write a letter to government officials</a>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">How money is raised and spent in government</a>
          </div>
          <div class="w-full md:w-[27.5%] md:ml-[5%] text-sm">
            <p class="my-4 text-hfc-green-100">Take action</p>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">Find my ward councillor</a>
            <a href="#" class="mb-2 text-white block opacity-60 hover:opacity-100">Write to my ward councillor</a>
            <p class="my-4 text-hfc-green-100">Get in touch</p>
            <a href="mailto:info@hereforchange.org.za" class="mb-2 text-white opacity-60 hover:opacity-100 break-words">info@hereforchange.org.za</a>
          </div>
        </div>
        <div class="mt-10">
          <!-- horizontal divide line -->
          <div class="border-white opacity-10 w-full border-t mb-7"></div>
          <div class="flex flex-col md:flex-row md:items-center justify-between">
            <p class="text-white opacity-60 text-sm">© 2022 <a href="https://openup.org.za" target="_blank" rel="noopener noreferrer" class="underline">OpenUp</a>. HereForChange is a project created by OpenUp.</p>
            <div class="flex items-center gap-4 text-white text-2xl mt-3 md:mt-0">
              <a href="https://www.facebook.com/OpenUpSA" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f opacity-60 hover:opacity-100"></i></a>
              <a href="https://twitter.com/openupsa" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter opacity-60 hover:opacity-100"></i></a>
              <a href="https://www.instagram.com/openup_southafrica/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram opacity-60 hover:opacity-100"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'js/here_for_change.js' %}" ></script>
    <script src="{% static 'js/map.js' %}" ></script>
    <script src="{% static 'js/random-points-on-polygon.js' %}" ></script>
  </body>
</html>