
{% extends "base.html" %}

{% block content %}
    {% include "includes/ward_notification.html" %}
    <section>
        <div class="w-1280 mx-auto py-8 flex flex-col align-items gap-3">
            
            <div class="flex relative inline-block text-left">
              <h1 class="merriweather text-2xl lg:text-4xl font-extrabold pr-4">Cape Agulhas</h1>
                <div class="flex">
                  <button
                    type="button"
                    class="inline-flex justify-between items-center gap-2 w-40 rounded-md shadow-sm px-4 py-3 bg-hfc-green-100 text-sm font-medium text-white focus:outline-none hover:bg-teal-900"
                    id="menu-button"
                    aria-expanded="true"
                    aria-haspopup="true"
                  >
                    <span>Ward 3</span>
                    <i class="fa-solid fa-chevron-down"></i>
                  </button>
                </div>
    
                <div
                  class="hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="menu-button"
                  tabindex="-1"
                >
                  <div class="py-1" role="none">
                    <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                    <a
                      href="#"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-0"
                      >Ward 1</a
                    >
                    <a
                      href="#"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-1"
                      >Ward 2</a
                    >
                    <a
                      href="#"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-2"
                      >Ward 3</a
                    >
                    <a
                      href="#"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-2"
                      >Ward 4</a
                    >
                  </div>
                </div>
              </div>
            <div>
              <p>A <span class="underline">ward</span> within <span class="font-semibold p-2 bg-neutral-100 rounded-lg">Cape Agulhas</span> municipaility. A <span class="underline">local municipaility</span> within <span class="font-semibold p-2 bg-neutral-100 rounded-lg">Overberg</span>, Western Cape.</p>
            </div>
        </div>
    </section>
    <section>
      {% include "includes/map.html" %}
    </section>
    <section class="bg-hfc-green-900">
      <div class="flex items-center w-1280 mx-auto py-10 gap-4">
        <!-- left side -->
        <div class="grow">
          <p class="text-2xl merriweather text-white">Your ward councillior is:</p>
          <!-- white card -->
          <div class="bg-white rounded-lg p-4 mt-8">
            <div class="flex gap-2 items-center">
              <img class="rounded-lg w-20 h-20" src="https://assets.website-files.com/61a46f92a4845f1ed45ec01d/61d7e311bea0c7b4d41234e6_danny-europa.png"/>
              <div class="grow">
                <div class="flex items-center justify-between">
                  <p class="font-bold">Danny Europa</p>
                  <i class="fa-solid fa-circle-exclamation text-neutral-300 hover:text-hfc-green-900 cursor-pointer"></i>
                </div>
                <p>African National Congress (ANC)</p>
                <p class="font-semibold text-neutral-400">Elected 8 January 2021</p>
              </div>
            </div>
            <div class="border-t-2 my-3 border-gray-100">
            </div>
          </div>
        </div>
        <!-- right side -->
        <div>
          
        </div>
      </div>
    </section>
{% endblock content %}

