{% load static %}
<nav class="shadow bg-hfc-green-900 relative z-20">
    <div class="px-4 md:px-8 xl:px-4 max-w-screen-xl mx-auto flex justify-between">
        <div class="py-3 flex items-center justify-between z-20">
            <div>
                <a class="text-lg benfritz text-white lg:text-2xl relative" href="/">
                    <span>HereForChange</span>
                    <div
                        class="w-5 h-5 lg:w-[25px] lg:h-[25px] absolute -top-3 -right-3 lg:-right-4 flex items-center justify-center rotate-[-17deg]">
                        <img class="w-5 h-5 lg:w-[25px] lg:h-[25px]" src="{% static 'assets/Star1.svg' %}" />
                        <span class="text-white absolute text-xs lg:text-sm font-extralight">za</span>
                    </div>
                </a>
            </div>
        </div>
        <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
        <div id="find-councillor" class="lg:flex px-2 -mx-4  lg:inline-block lg:flex-row md:mx-0 items-center z-20">
            <div
                class="px-4 h-full inline-block flex justify-center items-center hover:bg-hfc-green-800 cursor-pointer">
                <a href="#" class=" text-sm font-black md:font-semibold text-white rounded md:mr-2">Find my ward councillor</a>
            </div>
        </div>
    </div>
</nav>