@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Benfritz;
  src: url(/static/fonts/Benfritz.ttf);
}

@font-face {
  font-family: Karla;
  src: url(/static/fonts/Karla-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

.benfritz {
  font-family: Benfritz, serif;
}

.karla {
  font-family: Karla, serif;
}

body, html {
  font-family: Karla, serif;
}

.fvs-250 {
  font-variation-settings: "wght" 250, "wdth" 100;
  font-weight: bold;
}

.fvs-200 {
  font-variation-settings: "wght" 200, "wdth" 100;
}

.fvs-100 {
  font-variation-settings: "wght" 100, "wdth" 100;
  font-weight: bold;
}

#map {
  width: 100%;
  height: 270px;
}

.hover-card-img:hover img {
  transform: scale(1.1);
}

.hover-card-img:hover .popular-banner {
  transform: rotate(-35deg);
  transition: all 0.3s cubic-bezier(0, 0.49, 0.25, 2.06);
}

.start-transition {
  transition: all 0.4s cubic-bezier(0, 0.49, 0.25, 2.06);
  animation: pulse 3s ease infinite;
}

.start-transition p {
  transition: all 0.4s cubic-bezier(0, 0.49, 0.25, 2.06);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  44% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  64% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
}

.nav-tray {
  transition: all 0.5s ease-in-out;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.rotate-icon {
  transform: rotate(180deg);
}

.tab-caret {
  transition: all 300ms ease;
}

.toggle-tray {
  top: 68px;
}

.other-input {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.3s ease;
}

.btn-active {
  background-color: #192827;
  color: white;
}

.btn-inactive {
  background-color: #e5e5e5;
  color: black;
}

.btn-inactive:hover {
  background-color: #d4d4d4;
}

.tooltip,
.smTooltip,
.voteTooltip {
  position: relative;
}

.tooltipText,
.smTooltipText,
.voteTooltipText {
  /* visibility: hidden; */
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: -25px;
  left: -7px;
  font-family: 'Karla', serif;
  font-size: 14px;
  font-weight: 400;
  z-index: 30;
  transition: all 50ms ease-in-out;
  white-space: nowrap;
}

.tooltip:hover .tooltipText,
.smTooltip:hover .smTooltipText,
.voteTooltip:hover .voteTooltipText {
  display: inline-block;
  top: -33px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  bottom: -5px;
  left: 50%;
}

.barTooltip {
  position: relative;
}

.barTooltipText {
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: -25px;
  left: 50%;
  font-size: 14px;
  z-index: 30;
  transition: all 50ms ease-in-out;
}

.barTooltip:hover .barTooltipText {
  display: inline-block;
  top: -29px;
}

@keyframes left-side-animate {
  0% {
    border: 4px solid rgba(127, 0, 255, 0);
  }
  25% {
    border: 4px solid rgba(127, 0, 255, 0.4);
  }
  50% {
    border: 4px solid rgba(127, 0, 255, 0.6);
  }
  100% {
    border: 4px solid rgba(127, 0, 255, 1);
  }
}

@keyframes banner-animate {
  0% {
    opacity: 0;
    transform-origin: right;
  }
  7% {
    opacity: 1;
    transform: rotate(-15deg);
    transform-origin: left;
    top: 5px;
  }
  93% {
    opacity: 1;
    transform: rotate(-15deg);
    transform-origin: left;
    top: 5px;
  }
  100% {
    opacity: 0;
    transform: rotate(5deg);
    top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .side-anime {
    animation-name: left-side-animate;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-iteration-count: 6;
    animation-direction: alternate;
  }

  .side-anime-banner {
    animation-name: banner-animate;
    animation-delay: 2s;
    animation-duration: 9s;
    animation-timing-function: ease-in-out;
  }
}

/* map styles */
.is-hidden {
  display: none;
}

.text-pin {
  width: auto !important;
  text-align: center;
  height: auto !important;
  background-image: url("../assets/pinpoint.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  outline: red !important;
  padding-bottom: 25px;
}

.text-pin div {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #8334f7;
  color: #fff;
  border-radius: 10px;
  white-space: nowrap;
  padding: 5px 10px;
}

.is-filter-contrast-high {
  filter: contrast(500%) grayscale(100%);
}

.is-filter-grayscale-bw {
  filter: grayscale(100%);
}

.tooltip .leaflet-popup-content,
.leaflet-tooltip-top.tooltip {
  border-radius: 10px !important;
  font-weight: bold !important;
}

.icon-marker {
  background-color: #eee;
  border: solid 4px #fff !important;
  border-radius: 100%;
}

.is-pointer-events-none {
  pointer-events: none !important;
}

@media screen and (max-width: 768px) {
  .section {
    scroll-margin-top: 120px;
  }

  #summary {
    scroll-margin-top: 100px;
  }
}

.double-bounce-1{
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce-2{
  animation: sk-bounce 2.0s infinite ease-in-out;
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.0);
  }
}

.show-modal{
  transition: all 300ms ease-in-out;
  display: block;
}

.hide-modal{
  transition: all 300ms ease-in-out;
  display: none;
}

/* #modal-card {
  pointer-events: none;
} */